body{
    background-color: #282D33;
    color: #247d96;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.citiesListItem{
    list-style: none;
    color: #7aa9b6;
    background-color: rgba(211, 211, 211, 0.2);
    padding: 12px;
    /* word-break: break-all; */
}